absl-py 
anyio
appnope 
argcomplete 
argon2-cffi 
asgiref
astor
astunparse
async-generator
attrs
backcall 
bleach 
Bottleneck
cached-property 
cachetools
certifi
cffi 
charset-normalizer
click
coverage 
cryptography
cycler 
Cython 
debugpy 
decorator 
defusedxml 
entrypoints
fastapi
flasgger
Flask
fonttools
gast==0.3.3
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta 
grpcio 
gunicorn==20.1.0
h11==0.12.0
h5py==2.10.0
idna==3.3
imageio==2.9.0
importlib-metadata 
imutils==0.5.3
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
itsdangerous 
jedi 
Jinja2 
joblib 
jsonschema 
jupyter==1.0.0
jupyter-client 
jupyter-console 
jupyter-core 
jupyterlab-pygments 
jupyterlab-widgets
Keras==2.4.0
Keras-Applications 
Keras-Preprocessing 
kiwisolver 
Markdown 
MarkupSafe 
matplotlib 
matplotlib-inline 
mistune
mkl-fft
mkl-random==
mkl-service
munkres
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx
nltk
notebook 
numexpr 
numpy
oauthlib
olefile
opencv-python
opt-einsum 
packaging 
pandas
pandocfilters 
parso 
pexpect 
pickleshare 
Pillow
plotly
prometheus-client 
prompt-toolkit 
protobuf
ptyprocess 
pyasn1
pyasn1-modules
pycparser 
pydantic
Pygments 
pyOpenSSL
pyparsing 
pyrsistent 
python-dateutil
pytz
PyWavelets
PyYAML
pyzmq 
qtconsole 
QtPy 
regex
requests
requests-oauthlib
rsa
scikit-image
scikit-learn 
scipy 
seaborn
Send2Trash 
six 
sniffio
starlette
swagger-ui-py
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
terminado
testpath 
threadpoolctl 
tifffile
torch
tornado 
tqdm
traitlets 
typing-extensions 
urllib3
uvicorn
wcwidth 
webencodings
Werkzeug 
widgetsnbextension
wordcloud
wrapt
zipp 
